<?xml version="1.0"?>
<config>
    <modules>
        <MJ_Customsmtp>
            <version>1.0.0</version>
            <platform>ce</platform>
        </MJ_Customsmtp>
    </modules>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <mails translate="title" module="customsmtp">
                        <title>Mailjet settings</title>
                        <action>adminhtml/system_config/edit/section/customsmtp</action>
                        <sort_order>40</sort_order>
                    </mails>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <mails>
                            <children>
                                <mails>
                                    <title>Mailjet</title>
                                </mails>
                            </children>
                        </mails>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customsmtp>
                                            <title>Mailjet</title>
                                        </customsmtp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                    <children>
                        <system>
                            <children>
                                <mails translate="title" module="customsmtp">
                                    <title>Mailjet settings</title>
                                    <sort_order>40</sort_order>
                                    <action>adminhtml/system_config/edit/section/customsmtp</action>
                                </mails>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MJ_Customsmtp>
                    <files>
                        <default>MJ_Customsmtp.csv</default>
                    </files>
                </MJ_Customsmtp>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <customsmtp_admin>
                <use>admin</use>
                <args>
                    <module>MJ_Customsmtp</module>
                    <frontName>mails_admin</frontName>
                </args>
            </customsmtp_admin>
        </routers>
    </admin>
    <global>
        <models>
            <customsmtp>
                <class>MJ_Customsmtp_Model</class>
            </customsmtp>
            <core>
                <rewrite>
                    <email_template>MJ_Customsmtp_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <events>
            <core_config_data_save_commit_after>
                <observers>
                    <test_mail>
                        <type>singleton</type>
                        <class>MJ_Customsmtp_Model_Observer</class>
                        <method>sendTestMail</method>
                    </test_mail>
                </observers>
            </core_config_data_save_commit_after>
        </events>
        <resources>
            <customsmtp_setup>
                <setup>
                    <module>MJ_Customsmtp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customsmtp_setup>
            <customsmtp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customsmtp_write>
            <customsmtp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customsmtp_read>
        </resources>
        <helpers>
            <customsmtp>
                <class>MJ_Customsmtp_Helper</class>
            </customsmtp>
        </helpers>
        <blocks>
            <customsmtp>
                <class>MJ_Customsmtp_Block</class>
            </customsmtp>
        </blocks>
    </global>
    <default>
        <customsmtp>
            <general>
                <enabled>0</enabled>
                <test>0</test>
                <test_address />
            </general>
            <smtp>
                <host>in.mailjet.com</host>
                <port />
                <login />
                <password />
                <ssl />
            </smtp>
        </customsmtp>
    </default>
</config>